/* footer */
footer {
  .hdt-row{
    justify-content: space-between;
  }
  .hdt-socials__style-outline-background li a{
        border: .1rem solid #F5EBDD33;
  }
  .shopify-section-group-footer-group:nth-child(2) {
border-top: 0.96px solid #FFFFFF0F ;
 }
#main_footer_copyright{
.hdt-col-content{
  width: 100%;
}
  .hdt-group-content {
    text-align: center;
    span,
    p {
      font-size: var(--text-sm) !important;
    }
  }
}
}